
.section-title {
    padding-top: 3vh;
    font-weight: bold;
}

.section-title h2 {
    font-size:32px;
    flex: 1;
}

.section-title h4 {
}

.container {
    max-width: 1616px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.container--full {
    max-width: 1903px;
}

/*header*/
.fixed {
    background-color: #fff;
    color: #191818;
    box-shadow: 0px 2px 20px #7c7a7a36;
  }
  
  header {
      position: fixed;
      width: 100%;
      top:0;
      left: 0;
      right: 0;
      z-index: 3;
      transition: background-color .25s ease 0s;
      background-color: transparent;
  }
  
  .header-content {
    justify-content: space-between;
    height: 96px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .header-content-menu{
    justify-content: space-between;
  }
  
  .header-content-menu-item{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin: 0 20px;
  }
  
  .header-content-menu-item-link {
    white-space: nowrap;
    transition: color .3s ease-out 0s;
    color: #fff;
    outline: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  
  header .header-content-menu-item-link:hover, header.fixed .header-content-menu-item-link:hover {
    color: #007AAE;
  }
  
  header.fixed .header-content-menu-item-link {color: #191818;}
  
  a {
    text-decoration: none;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  
  header.fixed .logo-content {
    color: #0a4d60;
  }
  
  .logo-content {
    letter-spacing: 3.5px;
    font-family: "Orbitron", "sans-serif";
    font-weight: 800;
    font-size: 35px;
    color: #fff;
    outline: 0;
  }
  .mobile-header-container { display: none; background-color: #fff;}
  
  .mobile-header-content {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  
  
  #menu-toggle {
    position: fixed;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 10;
    display: block;
  }
  
  #menu-toggle:checked {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .page-overlay {
    visibility: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transition: visibility 0.5s, opacity 0.5s;
  }
  
  #menu-toggle:checked ~ .page-overlay {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s;
  }
  
  #menu-toggle:checked ~ .mobile-menu {
    right: 0;
  }
  
  
  .mobile-menu {
    display: block;
    transition: left 0.5s, right 0.5s;
    position: fixed;
    top: 0;
    right: -280px;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    z-index: 35;
    width: 200px;
    color: #191818;

  }
  

  @media only screen and (max-width: 768px) {
    .header-content { display: none; }
    .mobile-header-container { display: block; }
    .logo-content { color: #0a4d60; font-size: 32px; }
  }

  @media only screen and (max-width: 480px) {
  .container {
      padding-left: 16px;
      padding-right: 16px;
    }
    header { box-shadow: 0px 2px 20px #7c7a7a36; padding-bottom: 5px;}
    .section-title { padding-top: 1vh; font-weight: bold; flex-direction: column;}
    .section-title h2 { font-size:29px; text-align: center; margin: 0 auto;}
    .section-title h4 { font-size: 19px; font-weight: 400; text-align: center; margin: 1vh auto;}
    .fixed { background-color: transparent;}
  }

  /*circle */
  [figure="circle"] {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    flex-direction: column;
    flex-wrap: nowrap;
  }