.news-background {
    background-image: url("../../public/sources/greeting/docs.png");
    background-position: bottom;
}

.news-screen {
    height: 80vh;
    min-height: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.truncate-text {
    padding: 1rem;
    overflow: hidden;
    text-align: left;
    width: inherit;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

[figure="news"] {
    background-color: white;
    border: 3px solid #E2E2E2;
    border-radius: 2vw;
    padding: 1em;
    display: inline-flex;
    width: 300px;
    height: 280px;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
}

[figure="news"] div div { display: inline-block; margin-left: 5px; right: auto; font-size: 10px; color: #888888;}

@media only screen and (max-width: 1030px) {
    [figure="news"] {
        border-radius: 8px;
        padding: 12px;
        width: 230px;
        height: 250px;
    }

    [figure="news"] h3 { font-size: 14px;}

    .truncate-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 960px) {
    [figure="news"] {
        border-radius: 8px;
        padding: 12px;
        width: 230px;
        height: 250px;
        margin: auto 10px;
        -webkit-line-clamp: 15;
    }

    [figure="news"] h3 { font-size: 13px;}

    [figure="news"] div div { font-size: 6px; }

    .truncate-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    [figure="news"] {
        background-color: white;
        border: 3px solid #E2E2E2;
        border-radius: 2vw;
        padding: .5em;
        display: inline-flex;
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
    }

    [figure="news"] h3 { font-size: 11px;}

    .truncate-text {
        font-size: 10px;
        padding: 7px;
        overflow: hidden;
        text-align: left;
        width: inherit;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7.5;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (max-width: 480px) {
    .news-mobile { display: none;}
    .news-mobile+.frame { margin-top: 38px;}
}