
.tariff-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tariff-card {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: .8s;
}

.tariff-card:hover {
    transform: scale(1.3);
    color: white;
}


[color-type="1"] {background-color: #77B6C4;}
[color-type="2"] {background-color: #66C6E0;}
[color-type="3"] {background-color: #007AAE;}


.arrow { display: none;}

@media only screen and (max-width: 480px) {
    .arrow { display: block;}
    [color-type="1"], [color-type="2"], [color-type="3"]  {background-color: initial;}
    .tariff-card {
        width: initial;
        height: initial;
        text-align: initial;
        color: initial;
    }
    .tariff-card:hover {
        transform: none;
        color: initial;
    }
}

@media (max-width: 767px){
    .tariff-list{
        display: block;
        text-align: left;
    }
}