/* Cars.js */

.commandsList {
    margin-top: 70px;
    margin-bottom: 200px;
}




/* Car.js */

footer {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #111;
    height: 15%;
    top: 92%;
    padding-top: 20px;
}


.inputs {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width:100%;
    padding:10px;
    display: flex; 
    flex-direction: column; 
    flex-wrap: no-wrap; 
    justify-content: center; 
    width:100%; 
    padding:15px
}

.inputs > div {
    margin-top: 10px;
    margin-bottom: 10px;
}